@use '../variable' as var;
@use '../mixin';

@media screen and (max-width: 540px) {
  header {
    padding: var.$padding-mobile;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 20px);

    .logo-header {
      img {
        width: 45px;
      }

      p {
        font-size: 0.9rem;
      }
    }

    nav {
      & > ul {
        display: none;
      }

      .extra-nav {
        ul {
          .search-container {
            width: 90vw;
            left: calc(50% - (90vw + 5px) / 2);

            .search {
              width: 100%;
              min-height: 44px;
            }

            .search-btn {
              min-width: 60px;
              padding: 0 5px;
            }

            .search-btn:hover {
              filter: brightness(75%);
            }
          }
        }
      }
    }

    .hamburger-menu {
      top: 59.5px;
    }
  }

  main {
    padding: var.$padding-mobile;
    gap: 60px;

    h2 {
      font-size: 1.4rem;
    }

    .first-section {
      margin: 0 -10px;

      article {
        p {
          font-size: 1rem;

          &:nth-child(1) {
            font-size: 1.6rem;
          }
        }
      }
    }

    .second-section {
      article {
        .history-container {
          p {
            font-size: 1rem;
          }
        }
      }
    }

    .third-section {
      width: calc(100vw - 20px);
      margin-bottom: 60px;

      .container {
        grid-auto-columns: 88%;
      }

      .see-all-btn {
        font-size: 1rem;
      }
    }

    .all-resto {
      .filter {
        margin-top: 20px;
        margin-bottom: 15px;
      }
    }

    .resto-card-container {
      margin-bottom: 60px;
    }

    .favorite-resto {
      h2 {
        margin-bottom: 20px;
      }

      .favorite-error {
        font-size: 1rem;
      }
    }
  }
}
